*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-color: rgb(255, 243, 205);
  --dark-accent: rgb(64,14,50);
  --red-accent: rgb(108,0,59);
  --gold-gradient: linear-gradient(to bottom, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

body {
  width: 100%;
  height: 100vh;
  }

#root {
  height: 100%;
}

.webApp {  
  background-color: var(--dark-accent);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

main {
  flex: 1;
  
}
